.fondo {
    margin-bottom: 0px;
    background-color: #312f2f;

    .about-centrar {
        display: flexbox;
        justify-content: center;
        align-items: center;
        text-align: center;

        input {
            border-radius: 15px;
            padding: 2px 10px;
        }

        label {
            font-family: $merry;
            color: #F6F6F6;
        }

        select {
            border-radius: 15px;
        }
        
        .comentarios {
            height: 100px;
            width: 300px;
        }
    }
}




