.footer {
    background-color: #1C1C1C;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .contenedor-menu-footer-grande {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        .contenedor-menu-footer {
            display: flex;
            align-items: center;
            gap: 30px;

            .redes-sociales {
                grid-area: redes-sociales;

                .menu-footer {
                    color: #F6F6F6;
                    font-size: 1.1rem;
                    font-family: "Work Sans";
                    text-decoration: none;
                    padding-top: 4px;
                    margin: 2px;
                    margin-left: 25px;

                    .menu-item {
                        padding: 20px;
                        margin: 0;
                        list-style-type: none;
                        padding: 5px;
                        margin: 0;
                        transition: transform 0.3s ease;

                        &:hover {
                            transform: scale(1.1);
                        }

                        a {
                            display: inline-block;
                            margin-bottom: 0;
                            list-style-type: none;
                            color: #F6F6F6;
                            padding: 12px;
                            text-decoration: none;
                        }
                    }
                    
                }
            }
        }
    }
    .mapa-copyr {
        grid-area: mapa-copyr;

        .mapa-container {
            width: 100%;
            margin-bottom: 10px;
            margin-top: 10px;
            transition: transform 1 ease;

                .footer-bottom-text {
                    text-align: center;
                    margin-top: 20px;
                    color: #F6F6F6;
                    font-family: $merry;
                    text-decoration: none;
                    list-style-type: none;
                    font-size: 10px;
                    padding: 8px;
                }

            .mapa {
                width: 100%;
                height: 100%;
                border: 0;
                margin-bottom: 0;
                &:hover {
                    transform: scale(0.9);
                    animation: scaleOnce 0.3s ease forwards;
                    @keyframes scaleOnce {
                        0% {
                            transform: scale(1);
                        }
                    
                        100% {
                            transform: scale(0.9);
                        }
                    }
                }
            }
        }
    }
    
    .log-inicio-foot {
        grid-area: log-inicio-foot;

        .inicio-sesion-footer {
            margin-right: 50px;

            form {
                display: flex;
                flex-direction: column;
                
                .input-group {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    border-radius: 20px;

                    label {
                        font-family: "Work Sans";
                        font-size: 12px;
                        color: #F6F6F6;
                        text-decoration: none;
                        padding-top: 3px;
                        margin: 0;
                        align-self: center;
                    }

                    input[type="text"],
                    input[type="password"] {
                        padding: 2px 10px;
                        transition: transform 0.3 ease;
                
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }

                .buttons-session-footer {
                    display: flex;
                    gap: 2em;
                    justify-content: center;
                    margin-top: 15px;

                    input[type="button"] {
                        border-radius: 10px;
                        padding: 5px 10px;
                        color: #1C1C1C;
                        border: none;
                        cursor: pointer;
                        transition: transform 0.3 ease;

                        &:hover {
                            transform: scale(0.9);
                        }
                    }
                }
            }
        }
    }
}