.fondo {
    background-color: #312f2f;

    .card {
        background: rgb(26, 25, 25) !important;
        border: 1px solid #1d1c1c;
        color: #F6F6F6 !important;
        margin-bottom: 2rem;
        display: flex; 
        flex-direction: column;
        width: 100%; 
    
        &:hover{
            transform: scale(1.05);
            transition: transform 0.2s ease;
        }
    
        h6 {
            color: rgb(99, 96, 96) !important;
        }
    }
}

