.fondo {
    background-color: #312f2f;
}


.card {
    background: rgb(26, 25, 25) !important;
    border: 1px solid #1d1c1c;
    color: #F6F6F6 !important;
    margin-bottom: 2rem;
    display: flex; 
    flex-direction: column; 
    
    h6 {
        color: rgb(99, 96, 96) !important;
    }
}


.btn {
    border: 5px solid;
    border-image-slice: 1;
    background: var(--gradient) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    border-image-source: var(--gradient) !important;
    text-decoration: none;
    transition: all .4s ease;
}

.btn:hover,
.btn:focus {
    background: var(--gradient) !important;
    -webkit-background-clip: none !important;
    -webkit-text-fill-color: #0f0f0f !important;
    border: 5px solid #0a0a0a !important;
    box-shadow: #222 1px 0 10px;
    text-decoration: underline;
}