.fondo {
    margin-bottom: 0px;
    background-color: #312f2f;
}

.muestra {
    width: 100%;
    height: auto;
    padding: 3px;
    overflow: hidden;
    box-sizing: border-box;
}

.container-galeria div {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 2px;
    width: 100%;
    margin: 2px;
    margin-bottom: 10px;
}

.container-galeria img {
    max-width: 100%;
    max-height: 100%;
    width: 300px;
    height: auto;
    border-radius: 15px;
    padding: 25px 15px 25px 15px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3 ease;
}

.muestra-horizontal:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.muestra:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease; 
}

.container-galeria img.muestra-horizontal {
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.container-galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px 3px;
    grid-template-areas:
        "img-horizontal-1 img-horizontal-1 img-horizontal-2 img-horizontal-2"
        "img-vertical-1 img-vertical-2 img-vertical-3 img-vertical-4"
        "img-vertical-5 img-vertical-6 img-vertical-7 img-vertical-8"
        "img-vertical-9 img-vertical-10 img-vertical-11 img-vertical-12";
    margin: 0 auto;
    max-width: 70vw;
    padding: 5px;
    box-sizing: border-box;
}

.img-horizontal-1 {
    grid-area: img-horizontal-1;
}

.img-horizontal-2 {
    grid-area: img-horizontal-2;
}

.img-vertical-1 {
    grid-area: img-vertical-1;
}

.img-vertical-2 {
    grid-area: img-vertical-2;
}

.img-vertical-3 {
    grid-area: img-vertical-3;
}

.img-vertical-4 {
    grid-area: img-vertical-4;
}

.img-vertical-5 {
    grid-area: img-vertical-5;
}

.img-vertical-6 {
    grid-area: img-vertical-6;
}

.img-vertical-7 {
    grid-area: img-vertical-7;
}

.img-vertical-8 {
    grid-area: img-vertical-8;
}

.img-vertical-9 {
    grid-area: img-vertical-9;
}

.img-vertical-10 {
    grid-area: img-vertical-10;
}

.img-vertical-11 {
    grid-area: img-vertical-11;
}

.img-vertical-12 {
    grid-area: img-vertical-12;
}

.container-galeria div img{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}