.main-contenido-principal {
  padding: 0px 0px;
  flex: 1;
  margin: 0;

  .fondo {
    margin-bottom: 0px;
    background-color: #312f2f;

    h3 {
      color: #d3d3c3;
      font-family: $work-Sans;
      font-size: 22px;
      text-align: center;
      padding: 3em 0;
      letter-spacing: 15px;
    }

    .imagenes {
      width: 17%;
      height: auto;
      display: inline-block;
      padding: 20px;
    }

    .titulo-4 {
      display: flex;
      max-width: 80vw;
      margin: 0 auto;
      align-items: center;
      padding-bottom: 2em;
      margin-top: 10rem;

      .texto-container {
        flex: 1;
        text-align: center;
        justify-content: center;

        h4 {
          color: #F6F6F6;
          font-family: $merry;
          font-size: 27px;
          text-align: center;
          padding: 25px 0 25px 0;
          text-transform: uppercase;
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
          margin: 0;
        }

        p {
          color: #ebebe6;
          padding: 20px 0 20px 0;
          text-align: center;
          font-size: 18px;
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
          margin: 0;
        }
      }

      .imagen-ladera-titulo-4 img {
        width: 50rem;
        height: auto;
        margin-left: 20px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        transition: transform 0.4 ease;

        &:hover img {
          transform: scale(0.9);

        }
      }
    }
  }
}