@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&family=Work+Sans:wght@300&display=swap');
    $work-Sans: 'Work Sans', sans-serif;


@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
    $merry: 'Merriweather', serif;


@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
    $tilt-prism: 'Tilt Prism', cursive;
