

h1 {
    color: #F6F6F6;
    font-family: $tilt-prism;
    font-size: 4em;
    text-align: center;
}

h2 {
    color: #ebebe6;
    font-family: $work-Sans;
    font-size: 3em;
    text-align: center;
    padding: 20px;
}

h3 {
    color: #d3d3c3;
    font-family: $work-Sans;
    font-size: 1.375em;
    text-align: center;
    padding: 3em 0;
    letter-spacing: 0.9375em;
}

h4 {
    color: #F6F6F6;
    font-family: $merry;
    font-size: 20px;
}